
body{
    padding: none; 
    margin: none; 
    
}
.titulo{
     font-size: 60px; 
     font-family:  sans-serif; 
     color: white;
     padding: 40px;
     padding-right: 40%;
     padding-top: 10%;
}
.lista1{
    display: flex;
    overflow: hidden;
    background-color:#1E2E39;
    text-align: left;
    margin-top: 5px;
    
}
.lista1 li{
    float: left;
    display: block;
    color:white;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 17px;
    font-style: normal;
    text-align: left;
}
.lista2 li{
    float: right;
    display: block;
    color:white;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 17px;
}
.search-container{
    display: flex;
    padding-top: 20px;
    margin-right: 10px;

}
.lista3{
    display: flex;
    background-color:rgba(0, 0, 0, 0.5);
    width: auto;
    font-style: normal;
    float: center;
    

}
.lista3 li{ 
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid grey;
}
.lista3 li:hover{
    background-color:rgb(32, 170, 204);

}
.vermas{
    display: flex;
    float: right;
    color: white;
    margin-bottom: 40%;
    padding-right: 40px;
    font-style: unset;
    font-size: 20px;
    
}

.container{
    background: url(img/e.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
}
.ndnav{
    display: flex;
}
.ndnav p{
    display: flex;
}
.ndnav li{
    display: inline; 
    list-style: none; 
    color: rgb(32, 170, 204); 
    font-weight: bold; 
    font-size: 60px;
}
.parrafo4{ 
    text-align: center;
}
.imgsos{ 
    
    text-align: center;
}
.cd{
    margin: 40px; 
    background-color: white;
}
.sostenibilidad{
    background: url(img/g.jpg) no-repeat center center fixed ;
    background-size: cover;
    background-attachment: scroll;
    padding: 10px;
}
.destacamos{
    background-color: teal; 
    padding: 40px;
}
.transparencia{
    background-image:url(./img/a.jpg) ; 
    padding: 40px;
}
.facts-row {
    position: relative;
    min-height: 100vh;
}
.facts__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.facts-row .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 100vh;
}
.facts-row__title {
    margin-bottom: 4rem;
    text-align: center;
}
/* Listado de cifras */
.facts {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}
/* Cada cifra */
.fact {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    flex: 33%;
    max-width: 33%;
    margin-bottom: 8rem;
}
.fact__icon {
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 70px;
    float: center;
    align-items: center;
}
.fact__number,
.fact__label {
    grid-column: 2/3;
}
.fact__label {
    text-transform: uppercase;
}
.fact__number {
    font-size: 3rem;
}